.font-auto{
	font-family:cursive;
	font-style:italic;
	font-size:18px;
	color:gray;
	font-weight:normal;
	text-align:left;
	letter-spacing:1px;
}
.x-row{
	padding:2px;
}
.x-col{
	padding:2px;
}
.container{
/* 	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	padding-right:0px; */
}
.btn-size{
	height:20%;
	width:90%;
	margin-left:1%;
	padding-top:3px;
	padding-left:4px;
	font-size:21px;
	text-align:center;
}
.btn-result{
	margin-top:2%;
	width:90%;
	height:59%;
	font-size:23px;
	margin-left:5%;
	display:none;
}
.btn-left{
	text-align:center;
	height:20%;
	width:100%;
	margin-top:5px;
	padding-top:3px;
	font-size:21px;
}
.btn-relation{
	text-align:center;
	padding-top:3px;
	font-size:21px;
	background-color:#ec971f;
	color:#fff;
	border-color:#ec971f;
}
.btn-menu-size{
	width:100%;
}
.img-size{
	margin-top:5px;
	margin-bottom:5px;
}
.img-right-size{
	width:90%;
	height:50%;
}

.img-slide{
	height:100%;
	width:100%;
	padding-left:5px;
	padding-right:5px;
}
.btn-drag{
	margin-right:5px;
	margin-top:2px;
	font-size:20px;
	padding:2px 5px 3px 5px;
}
.row-size{
	height:35%;
	margin-top:0px;
}
.row-sizeleft{
	height:50%;
	margin-top:0px;
}
.col-size{
	height:100%;
	width:100%;
}
.x-row{
	padding:0px;
}
.img-left-size{
	height:50%;
	width:100%;
	margin-top:5%;
}
 .menu-slide {
    background-position: center;
    background-size: cover;
} 
.btn-color{
	background-color:gray;
	color:#fff;
}
.swiper-container {
 			width: 125%;
			height: 100%; 
}
.swiper-slide {
 	text-align: center;
	font-size: 18px; 
	background: #fff;

	/* Center slide text vertically */
/*  	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 
 	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;  */
}
.content{
	width:80%;
}
.menu {
	width: 10%;
	height:100%;
	margin-top:11px;

	background-color: #fff;
}

.menu-button {

	cursor: pointer;

	-webkit-transition: .3s;
	transition: .3s;

	background-color: gray;
	color:#fff;
}
.menu-button .bar:nth-of-type(1) {
	margin-top: 0px;
}
.menu-button .bar:nth-of-type(3) {
	margin-bottom: 0px;
} 

 .bar {
	position: relative;
	display: block;

	width: 50px;
	height: 5px;

	margin: 10px auto;
	background-color: #fff;

	border-radius: 10px;

	-webkit-transition: .3s;
	transition: .3s;
} 

.menu-button:hover :nth-of-type(1) {
	-webkit-transform: translateY(1.5px) rotate(-4.5deg);
	-ms-transform: translateY(1.5px) rotate(-4.5deg);
	transform: translateY(1.5px) rotate(-4.5deg);
}
.menu-button:hover .bar:nth-of-type(2) {
	opacity: .9;
}
.menu-button:hover .bar:nth-of-type(3) {
	-webkit-transform: translateY(-1.5px) rotate(4.5deg);
	-ms-transform: translateY(-1.5px) rotate(4.5deg);
	transform: translateY(-1.5px) rotate(4.5deg);
}

.cross .bar:nth-of-type(1) {
	-webkit-transform: translateY(15px) rotate(-45deg);
	-ms-transform: translateY(15px) rotate(-45deg);
	transform: translateY(15px) rotate(-45deg);
}
.cross .bar:nth-of-type(2) {
	opacity: 0;
}
.cross .bar:nth-of-type(3) {
	-webkit-transform: translateY(-15px) rotate(45deg);
	-ms-transform: translateY(-15px) rotate(45deg);
	transform: translateY(-15px) rotate(45deg);
}
.cross:hover .bar:nth-of-type(1) {
	-webkit-transform: translateY(13.5px) rotate(-40.5deg);
	-ms-transform: translateY(13.5px) rotate(-40.5deg);
	transform: translateY(13.5px) rotate(-40.5deg);
}
.cross:hover .bar:nth-of-type(2) {
	opacity: .1;
}
.cross:hover .bar:nth-of-type(3) {
	-webkit-transform: translateY(-13.5px) rotate(40.5deg);
	-ms-transform: translateY(-13.5px) rotate(40.5deg);
	transform: translateY(-13.5px) rotate(40.5deg);
}
.mui-switch {
  width: 32px;
  height: 21px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; }
.mui-switch:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); 
  }
.mui-switch:checked {
  border-color: #337ab7;
  box-shadow: #64bd63 0 0 0 16px inset;
  background-color: #337ab7; 
  }
.mui-switch:checked:before {
  left: 21px; 
  }
.mui-switch.mui-switch-animbg {
  transition: background-color ease 0.4s; 
  }
.mui-switch.mui-switch-animbg:before {
  transition: left 0.3s; 
  }
.mui-switch.mui-switch-animbg:checked {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: #337ab7;
  transition: border-color 0.4s, background-color ease 0.4s; 
  }
.mui-switch.mui-switch-animbg:checked:before {
  transition: left 0.3s; 
  }
.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.mui-switch.mui-switch-anim:before {
      transition: left 0.3s;
}
.mui-switch.mui-switch-anim:checked {
  box-shadow: #337ab7 0 0 0 16px inset;
  background-color: #337ab7;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; 
}
.mui-switch.mui-switch-anim:checked:before {
 transition: left 0.3s;
}

ul.list{
z-index:100;
list-style:none;
padding:0px;
margin:0px;
overflow:hidden;
 position:float;
}
ul.list li{
z-index:100;
border:1px solid #EEE;
width:391px;
padding:1px 3px;
margin-right:51px;
margin-top:0;
font-size:25px;
font-family:Arial;
text-overflow:ellipsis; 
overflow:hidden;
}
.lilight{
background-color:#fafafa;
}
.myhide{
z-index:-100;
opacity:0.5;
}
.myshow{
z-index:20000;
}
.abstract{
	padding-left: 0%;
    padding-right: 5%;
    padding-top: 2%;
    font-size: 18px;
    text-align: left;
    font-family:cursive;
	font-style:italic;
}
.dropdown-relation{
	text-align:left;
	padding-top:3px;
	font-size:21px;
	background-color:#ec971f;
	color:#fff;
	border-color:#ec971f;
}
.dropdown-list{
	min-width:168px;
	background-color:#fff;
	color:#fff;
	border-color:#ec971f;
	padding:0;
	margin:0;
}
.menu-item{
	font-size:24px;
	text-align:center;
	background-color:#ec971f;
	margin-bottom:2px;
}
.btn-more{
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	padding-right:4px;
}
.label-head{
	font-size:20px;
	padding-left:20px;
	padding-bottom:34px;
	color:red;
	/* //background-color:red; */
}
.label-tail{
	font-size:20px;
	padding-left:20px;
	color:#ec971f;
}
.meta-select{
	margin-top:0px;
	padding:0;
	width:30%;
	height:30px;
}
.item-left{}
.item-right{}
.select-font{
	font-size:20px;
}
.btn-icon-right i{
	padding-left:0em;
}
.on{};
.btn-category{};
.btn-test{};
.font-bold{
	font-weight:bold;
}
.menu-list{
	
}
.list-select{
	color:#A09D9D;
}